// Typography
//
// Headings, body text, lists, and other misc typographic elements.


h1, h2, h3, h4, h5, h6 {
  margin-bottom: .1rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: var(--heading-color);
}

.blockquote, blockquote {
    background-color: #f8f9fa;
    border-left: 4px solid #ced4da;
    font-size: 1rem;
    font-weight: 300;
    padding: .5rem;

    p:first-of-type {
        margin: 0 0 1em;
    }

    p:last-of-type {
        margin: 0;
    }

}

.aa {
  font-size:12pt;
  line-height:18px;
  font-family: 'Mona','IPA MONAPGOTHIC','MS PGothic','ＭＳ Ｐゴシック','MS Pｺﾞｼｯｸ','MS Pゴシック',sans-serif;
  overflow:auto;
  white-space:nowrap;
}

.language-plaintext {
  font-family: "Fira Mono", "Kosugi", monospace;
  font-size: 0.9em;
  background-color: #F0F0F0;
  color: black;
  overflow: auto;
  margin: 2px;
  padding: 3px;
  border-radius: 5px;
}

.language-text {
  font-family: "Fira Mono", "Kosugi", monospace;
  font-size: 0.9em;
  background-color: #F0F0F0;
  color: black;
  overflow: auto;
  display: block;
  text-align: left;
  padding: 3px;
  border-radius: 10px;
}

.emoji {
  display: inline;
  margin-bottom: 0px;
}
