---
layout: default
title: ルソー『社会契約論』の考察
auther: tukasa
folder: ducontratsocial
description: ルソー『社会契約論』をわかりやすく説明。『社会契約論』が国家について考察する上で最重要かつ、理論的にも実践的にも有用な書であることを示す。
permalink: /theses/ducontratsocial/
---

<h1>{{ page.title }}</h1>

{% for collection in site.collections %}
  {% if collection.label == page.folder %}
    {% assign groups = collection.docs | group_by: "part" %}
  {% endif %}
{% endfor %}

{% for group in groups %}
  <h2 id="{{ group.name }}">{{ group.name }}</h2>
  <ul>
  {% assign chapter = group.items | sort: "path" %}
  {% for item in chapter %}
    <li class="post-list-by-part">
       <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
       <time datetime="{{ page.date | date_to_xmlschema }}">
       {% if item.last_modified_at %}
         {{ item.last_modified_at }}
       {% else %}
         {{ item.date | date: "%Y-%m-%d" }}
       {% endif %}
       </time>
    </li>
  {% endfor %}
  </ul>
{% endfor %}